/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import './reset.css';
 @import "./font.scss";


/* Signup/Login */

 .signup-header{
  background-color: rgba(241,238,234,0.2);
  border-bottom: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
 }

 .signup-form, .login-form-box {
  width: 338px;
  height: 455px;
  position: relative;
  display: block;
  left: 50%;
  top: 300px;
  margin-bottom: 350px;
  transform: translate(-50%, -50%);
  border: 0.5px solid #ccc;
  padding: 20px 30px 20px 30px;

}

.login-text{
  font-size: 30px;
  line-height: 3.6rem;
  margin-top: 0.6rem;
}

.signup-text {
  font-size: 30px;
  line-height: 3.6rem;
  margin-top: 0.6rem;
}

.session-submit{
  background-color: #009E74;
  color: #FFFFFF !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;

  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.header-button{
  box-sizing: border-box;
  background-color: #009E74;
  color: #FFFFFF !important;
}

.login-footer{
  background-color: rgba(241,238,234,0.2);
  border-top: 1px solid #F1EEEA;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
  position: absolute;
  bottom: 10px;
  left: 100px;
}

.demo-login{
  background-color: #009E74;
  color: #FFFFFF !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.signup-submit{
  background-color: #009E74;
  color: #FFFFFF !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
}

.signup-input, .login-input  {
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: start;
  margin-bottom: 15px;
}

.signup-header {
  background-color: rgba(241,238,234,0.2);
  border-bottom: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.fieldset {
  margin-bottom: 20px;
}

.fieldset-errors {
  list-style-type: disc;
  list-style-position: outside;
  background: #fd003b;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px 20px;
  line-height: 18px;
  text-decoration: none;
}

/* Nav */


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 1;
  padding-top: 2px;
  border-bottom: 0.05rem solid #DCDEDD;
  font-family: helvetica;
  font-size: 14px;
  background-color: white;
  list-style: none;
  text-decoration: none;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}

 a {
  list-style: none;
  text-decoration: none;
}


.site-nav-left li {
  float: left;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.site-nav-left li > a {
  color: #282828;
}
.site-nav-left li > a:hover {
  color: #009E74;
}

.site-nav-middle  {
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
  font-size: 25px;
}

.site-nav-middle > a {
  color: #034752;
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
}

.site-nav-right li > a {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.site-nav-right li {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.fas.fa-search{
  margin-left: 0.6rem;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.site-nav-right li > a:hover {
  color: #009E74;
}

.site-nav-right li > button:hover {
  color: #009E74;
  cursor: pointer
}

.search-nav{
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
}

.login > a {
  color: black;
}

.login > a:hover {
  color: #009E74;
}


/* Categories header */

.Categories-header{
  display: block;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  box-sizing: border-box;
  border-bottom: 0.05rem solid #DCDEDD;
  padding-bottom: 20px;
  padding-top: 20px;
}

.flex-nav{
  font-family: helvetica;
}

.cat-list-items{
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: inherit;
}

.cat-list-item{
  display: inline-block;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  color: #656969;
}

.cat-list-item > a{
  text-decoration: none;
  color: #656969;
}

.cat-list-item > a:visited{
  text-decoration: none;
  color: #656969;
}

.cat-list-item > a:hover{
  text-decoration: underline;
  color: #009E74;
}

/* HomePage and left side featured */

.grid-container{
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  display: block;
  line-height:21px
};

.flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 60px;
  font-weight: 400;
  vertical-align: baseline;
  box-sizing: border-box;
}

.left-featured{
  display: block;
  flex-basis: 55%;
  border-bottom-color: rgb(232, 232, 232);
  border-bottom-style: none;
  border-bottom-width: 0px;
  padding-top: 30px;
  padding-right: 60px;
  margin-top: 24px;
  line-height: 21px;
  border-color: #E8E8E8;
  border-right-style: solid;
  border-right-color: rgb(232, 232, 232);
  border-right-width: 1px;
}
.left-featured > img{
  height: 100%;
  width: 100%
}

.featured-project{
  font-weight: 600;
  box-sizing: border-box;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
  color: #656969;
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.hover-target{
  display: block;
};

.proj-link > a:hover{
  color: #037362;
  fill: #037362;
  text-decoration: underline;
  position: relative;
}

.proj-body{
  display: block;
  box-sizing: border-box;
  font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
  padding-bottom: 24px;
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}


.proj-name{
  display: block;
  box-sizing: border-box;
  color: #656969;
  border-color: #DCDEDD;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  padding-bottom: 12px;
  padding-top: 18px;
}

.creator-name{
  color: #656969;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

}

.creator-name:hover{
  color: #037362;
  fill: #037362;
  text-decoration: underline;
  position: relative;
}


/* right side */

.right-recommended{
  padding-left: 3rem;
  padding-top: 30px;
  margin-top: 24px;
  box-sizing: inherit;
}

.recommended{
  margin-bottom: 1.8rem;
  font-weight: 700;
  color: #656969;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.rec-lis{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-bottom: 1.8rem;
  margin-top: 1.0rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%
}

.rec-li{
  font-size: 14px;
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
  list-style-type: none;
  padding-bottom: 12px;
  text-align: left;
}

.rec-li-div{
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.rec-li-div-img{
  flex-basis: 40%;
  padding-right: 24px;
  vertical-align: baseline;
  list-style-position: outside;
  padding-top: 10px;
}

.rec-li-div-img > *{
  max-width: 100%;
  max-height: 100%;
}

.rec-li-div-description{
  -webkit-box-pack: justify;
  flex-basis: 60%;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.rec-title:hover{
  color: #037362;
  fill: #037362;
  text-decoration: underline;
  position: relative;
}

.description-link{
  color: #282828;
  fill: #282828;
  font-size: 14px;
  display: block;
  text-align: left;
  text-decoration: none;
}


/*footer*/

.Categories-footer{
  border-top-color: 0.05rem solid #DCDEDD;
  border-top-style: solid;
  border-top-width: 0.1px;
  border-bottom-color: 0.05rem solid #DCDEDD;
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  margin-bottom: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer{
  display: block;
  padding-right: 80px;
  padding-left: 20px;
}

.cat-list-items-foot{
  line-height: 21px;
  display: flex;
  align-items: left;
}

.cat-list-item-foot{
  font-size: 14px;
  margin-right: 30px;
  text-align: left;
}

.cat-list-item-foot > a{
  text-decoration: none;
  color: #656969;
}

.cat-list-item-foot > a:visited{
  text-decoration: none;
  color: #656969;
}

.cat-list-item-foot > a:hover{
  text-decoration: underline;
  color: #009E74;
}

/* create project */

html, body, #root, #root > div {
  height: 100%
}

.create-project-page{
  display: block;
  background-size: cover;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  line-height:21px;
  height: 100%;
  width: 100%;
}
.create-proj-body{
  border: 1px solid #E8E8E8;
  -webkit-appearance: none;
  -moz-appearance:none;
  outline:0px none transparent;
  resize: none;
  width: 428px;
  height: 80px;
  padding: 12px 12px 12px 12px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 30px;
}

.create-proj-body:hover{
  border:1px solid green;
}

.create-proj-body:focus{
  border:1px solid green;
}

.create-proj-name{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 30px;
  border-style:solid;
  border-width: 1px;
  -webkit-appearance: none;
  -moz-appearance:none;
  outline:0px none transparent;
  resize: none;
  width: 428px;
  height: 80px;
  padding: 12px 12px 12px 12px;
  display: block;
  border: 1px solid #E8E8E8;
}

.create-proj-name:hover{
  border:1px solid green;
}

.create-proj-name:focus{
  border:1px solid green; 
}

.create-proj-form{
  display: flex;
  padding-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.create-project-greeting{
  line-height: 36px;
  font-size: 28px;
  text-align: center;
  padding-top: 60px;
}

.create-goal-amt{
  line-height: 18px;
  margin-top: 20px;
  width: 428px;
  height: 20px;
  padding: 12px 12px 12px 12px;
  display: block;
  border: 1px solid #E8E8E8;

}

.create-goal-amt:hover{
  border:1px solid green;
}

.create-goal-amt:focus{
  border:1px solid green; 
}

.dropdown {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: rgb(40, 40, 40);
  display: flex;
  justify-content: flex-start;
  font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  font-stretch: 100%;
  font-weight:400;
  height: 54px;
  padding-bottom:12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  outline: none;
  color: #009E74;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-list{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-ul{
  overflow-x: hidden;
  overflow-y: scroll;
  // display: block;
  background-color: #fff; 
  background: rgba(255,255,255,0); 
  list-style: none;
}

.dropdown-content > li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: #fff; 
  display: block;
  text-align: left;
  list-style: none;
}

.dropdown-button{
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: list-item;
  list-style-position: outside;
  list-style-type:none;

  position: absolute;
  top: 54px;
}

.create-proj-submit{
  cursor: pointer;
  font-size: 16px;  
  outline: none;
  color: #009E74;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-top: 20px;
}