/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import './reset.css';
 @import "./font.scss";


/* Signup/Login */

 /* .login-form-box{ 
  border: 3px solid #f1f1f1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
 }

 .signup-form-box{ 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex
 } */

 .signup-input{
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  border: 1px solid #DCDEDD;
 }

 /* .login-text{

  width: 100%;
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-bottom: 20px;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  writing-mode: horizontal-tb;
 } */

 .signup-form-box, .login-form-box {
  width: 400px;
  height: 520px;
  position: relative;
  left: 50%;
  top: 300px;
  margin-bottom: 350px;
  transform: translate(-50%, -50%);
  border: 0.5px solid #ccc;


}

.login-form-box {
  height: 385px;
  top: 248px;

}

.login-text{
  font-size: 2.8rem;
  line-height: 3.6rem;
}

.signup-text {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

.signup-input, .login-input  {
  margin: 12px 17px;
  border: 1px solid #ccc;
  width: 90%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  // padding-left: 10px;
  font-weight: 300;

  box-sizing: border-box;
  padding: 12px;
  line-height: 17px;
}

/* Nav */



.nav-bar {
  z-index: 1;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px transparent grey;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 3px; 
  list-style: none;
  text-decoration: none;
}

 a {
  padding-bottom: 22px;
  list-style: none;
  text-decoration: none;
}

.site-nav-left li {
  float: left;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
}

.site-nav-middle  {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: $primary;
  font-size: 40px;
  transform: perspective(1px) translate(-50%, -50%);
}

.site-nav-middle > a {
  color: green;
  list-style: none;
}


.site-nav-right li > a {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none
}

// .site-nav-right li > button {
//   display: block;
//   float: right;
//   margin-left: 20px;
//   padding-right: 30px;
//   width: auto;
//   padding: auto;
//   list-style: none;
// }

.site-nav-right li {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
}

.search-nav{
  margin-right: 25px;
}

.login{
  margin-left: 45px;
}

