.Categories-footer {
  border-top-color: 0.05rem solid #dcdedd;
  border-top-style: solid;
  border-top-width: 0.1px;
  border-bottom-color: 0.05rem solid #dcdedd;
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  margin-bottom: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer {
  display: block;
  padding-right: 80px;
  padding-left: 20px;
}

.cat-list-items-foot {
  line-height: 21px;
  display: flex;
  align-items: left;
}

.cat-list-item-foot {
  font-size: 14px;
  margin-right: 30px;
  text-align: left;
}

.cat-list-item-foot > a {
  text-decoration: none;
  color: #656969;
}

.cat-list-item-foot > a:visited {
  text-decoration: none;
  color: #656969;
}

.cat-list-item-foot > a:hover {
  text-decoration: underline;
  color: #009e74;
}
