html,
body,
#root,
#root > div {
  height: 100%;
}

.create-project-page {
  display: grid;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  line-height: 21px;
  height: 100%;
  width: 100%;
}
.create-proj-body {
  border: 1px solid #e8e8e8;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0px none transparent;
  resize: none;
  width: 100%;
  height: 80px;
  padding: 12px 12px 12px 12px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 30px;
  justify-content: flex-start;
}

.create-proj-body:hover {
  border: 1px solid green;
}

.create-proj-body:focus {
  border: 1px solid green;
}

.proj-name-row {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.proj-name-instruction {
  float: left;
  color: #656969;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 300px;
  flex-basis: 60%;
}

.create-proj-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 0.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0px none transparent;
  resize: none;
  height: 80px;
  padding: 12px 12px 12px 12px;
  display: block;
  width: 100%;
  border: 1px solid #e8e8e8;
}

.proj-body-instruction {
  float: left;
  color: #656969;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 300px;
  flex-basis: 60%;
}

.proj-body-row {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.create-proj-name:hover {
  border: 1px solid green;
}

.create-proj-name:focus {
  border: 1px solid green;
}

#create-proj-date {
  margin-top: 20px;
  width: 428px;
  height: 20px;
  margin-bottom: 20px;
}

.create-proj-form {
  display: flex;
  padding-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: stretch; */
}

.create-proj-image-row {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.create-proj-funding-row {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.funding-goal-text {
  font-size: 1rem;
  line-height: 2rem;
  color: #282828;
  font-weight: 500;
  padding-right: 18px;
  padding-left: 18px;
}
.proj-body-row {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.create-image-preview {
  max-width: 400px;
  max-height: 300px;
}

.create-image-preview > img {
  width: auto !important;
  max-width: 100%;
  max-height: 300px;
  position: relative;
  display: block;
  margin: 0;
  object-fit: contain;
}

.create-project-greeting {
  line-height: 36px;
  font-size: 28px;
  text-align: center;
  padding-top: 60px;
}

.create-goal-amt {
  line-height: 18px;
  margin-top: 20px;
  width: 428px;
  height: 20px;
  padding: 12px 12px 12px 12px;
  display: block;
  border: 1px solid #e8e8e8;
}

.create-goal-amt:hover {
  border: 1px solid green;
}

.create-goal-amt:focus {
  border: 1px solid green;
}

.categories-row {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.create-location-input {
  font-size: 14px;
  height: 42px;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.create-location-input:hover {
  border: 1px solid green;
}

.create-location-input:focus {
  border: 1px solid green;
}

.create-proj-location {
  display: flex;
  border-top-color: rgb(220, 222, 221);
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 48px;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.description-row {
  display: flex;
  flex-direction: column;
}

.proj-categories-instruction {
  float: left;
  color: #656969;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 300px;
  flex-basis: 60%;
}

.dropdown {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: rgb(40, 40, 40);
  display: flex;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  /* height: 54px; */
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  /* position: relative; */
  margin-top: 40px;
  /* margin-bottom: 60px; */
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  outline: none;
  color: #009e74;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-list {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png),
    -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-ul {
  overflow-x: hidden;
  overflow-y: scroll;
  /* display: block; */
  background-color: #fff;
  background: rgba(255, 255, 255, 0);
  list-style: none;
}

.dropdown-content > li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: #fff;
  display: block;
  text-align: left;
  list-style: none;
}

.dropdown-button {
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: list-item;
  list-style-position: outside;
  list-style-type: none;

  position: absolute;
  top: 54px;
}

.create-proj-submit {
  cursor: pointer;
  font-size: 16px;
  outline: none;
  color: #009e74;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0 auto;
  max-width: 50%;
  justify-content: center;
}
