.fa-spin {
  font-size: 10rem !important;
  color: #009e74 !important;
  display: block !important;
}

.spinner-wrapper {
  /* display: block !important; */
  /* position: relative; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
  display: table !important;
}
