$duration: .2s;
$distance: 8px;

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 1;
  padding-top: 2px;
  border-bottom: 0.05rem solid #DCDEDD;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 14px;
  font-size: 1.0rem;
  font-weight: 350;
  background-color: white;
  list-style: none;
  text-decoration: none;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  width: 100%;
  
}

 a {
  list-style: none;
  text-decoration: none;
}

.site-nav-left{
  padding-top: 10px;
}

.site-nav-left li {
  float: left;
  padding-right: 25px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.site-nav-left li > a {
  color: #282828;
}
.site-nav-left li > a:hover {
  color: #009E74;
}

.site-nav-middle  {
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
  font-size: 1.8rem;
  padding-top: 10px;
}

.site-nav-middle > a {
  color: #034752;
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
}

.site-nav-right{
  padding-top: 10px;
}

.site-nav-right li > a {
  display: block;
  float: right;
  margin-left: 20px;
  width: auto;
  padding-right: 0px !important;
  list-style: none;
  color: #282828;
}

.site-nav-right li {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.fas.fa-search{
  margin-left: 0.6rem;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.site-nav-right li > a:hover {
  color: #009E74;
}

.site-nav-right li > button:hover {
  color: #009E74;
  cursor: pointer
}

.search-nav{
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
}


.login > a {
  color: black;
}

.login > a:hover {
  color: #009E74;
}

.user-avatar{
  margin-top: -18px;
  border-radius: 100%;
}


.user-dropdown{
  border: none;
  // padding:0!important;
  padding-right: 1.5rem;
}

.user-button{
  border: none;
  outline: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 10%;
  left: 60%;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.user-modal{
  border: 0.1rem solid #DCDEDD;
  background-color: #FFFFFF;
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column; 
}

.user-modal > *{
  margin: 1.0rem;
}
.username-header{
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.user-modal-projects{
  color: #282828;
}

.user-modal-projects:hover{
  color: #009E74;
  text-decoration: underline;
}

.no-dec-li{
  list-style: none;
  text-decoration: none;
}

.projects-div{
  padding: auto;
}

.my-projects{
  margin-bottom: 1rem;
}

.logout{
  border: none;

}

.logout-button-div{
  margin-top: auto;
}