$duration: 0.2s;
$distance: 8px;

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 1;
  padding-top: 2px;
  border-bottom: 0.05rem solid #dcdedd;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 14px;
  font-size: 1rem;
  font-weight: 350;
  background-color: white;
  list-style: none;
  text-decoration: none;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  width: 100%;
}

a {
  list-style: none;
  text-decoration: none;
}

.site-nav-left {
  padding-top: 10px;
}

.site-nav-left li {
  float: left;
  padding-right: 25px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.site-nav-left li > a {
  color: #282828;
}
.site-nav-left li > a:hover {
  color: #009e74;
}

.site-nav-middle {
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
  font-size: 1.8rem;
  padding-top: 10px;
}

.site-nav-middle > a {
  color: #034752;
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
}

.site-nav-right {
  padding-top: 10px;
}

.site-nav-right li > a {
  display: block;
  float: right;
  margin-left: 20px;
  width: auto;
  padding-right: 0px !important;
  list-style: none;
  color: #282828;
}

.site-nav-right li {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.fas.fa-search {
  margin-left: 0.6rem;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.site-nav-right li > a:hover {
  color: #009e74;
}

.site-nav-right li > button:hover {
  color: #009e74;
  cursor: pointer;
}

.search-nav {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.login > a {
  color: black;
}

.login > a:hover {
  color: #009e74;
}

.user-avatar {
  margin-top: -18px;
  border-radius: 100%;
}

.user-dropdown {
  border: none;
  // padding:0!important;
  padding-right: 1.5rem;
}

.user-button {
  border: none;
  outline: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 10%;
  left: 70%;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.user-modal {
  border: 0.15rem solid #dcdedd;
  background-color: #ffffff;
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
}

.user-modal > * {
  margin: 1rem;
}
.username-header {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.user-modal-projects {
  color: #282828;
}

.user-modal-projects:hover {
  color: #009e74;
  text-decoration: underline;
}

.no-dec-li {
  list-style: none;
  text-decoration: none;
}

.transparent-back {
  background-color: transparent !important;
}

.ddm-project-list {
  width: 340px;
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
}

.ddm-project-list li a {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  float: none;
}

.modal-img {
  width: 100%;
  height: auto;
}

.li-prj-img {
  width: 50px;
  height: 30px;
  background: grey;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding-right: 0.1rem;
}
.projects-div {
  padding: auto;
}

.my-projects {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.prof-link {
  list-style: none;
  color: black;
  font-weight: bold;
}
.prof-link:hover {
  cursor: pointer;
  color: #009e74;
}

.logout {
  border: none;
  font-size: 1rem;
}

.logout:hover {
  cursor: pointer;
}

.logout-button-div {
  margin-top: auto;
}
