$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 1;
  padding-top: 2px;
  border-bottom: 0.05rem solid #DCDEDD;
  font-family: helvetica;
  font-size: 14px;
  background-color: white;
  list-style: none;
  text-decoration: none;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  width: 100%;
  
}

 a {
  list-style: none;
  text-decoration: none;
}

.site-nav-left{
  padding-top: 10px;
}

.site-nav-left li {
  float: left;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.site-nav-left li > a {
  color: #282828;
  &:before,
  &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0; right: 0;
      height: 2px;
      background-color: #009E74;
  }
  &:before {
      opacity: 0;
      transform: translateY(- $distance);
      transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
      &:before,
      &:after {
          opacity: 1;
          transform: translateY(0);
      }
      &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
  }
}
.site-nav-left li > a:hover {
  color: #009E74;
}

.site-nav-middle  {
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
  font-size: 2.1rem;
}

.site-nav-middle > a {
  color: #034752;
  list-style: none;
  font-family: "RNS  BARUTA BLACK";
}

.site-nav-right{
  padding-top: 10px;
}

.site-nav-right li > a {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.site-nav-right li {
  display: block;
  float: right;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
  list-style: none;
  color: #282828;
}

.fas.fa-search{
  margin-left: 0.6rem;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.site-nav-right li > a:hover {
  color: #009E74;
}

.site-nav-right li > button:hover {
  color: #009E74;
  cursor: pointer
}

.search-nav{
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
}

.login > a {
  color: black;
}

.login > a:hover {
  color: #009E74;
}