.proj-show-grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20%, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr; 
  padding-left: 60px;
  padding-right: 60px;
}

.top-row-description{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;

}

.flex-nowrap{
  flex-flow: nowrap;
}

.project-name-show{
  align-items: flex-start;
  flex-direction: column;
  margin: 5px;
}

.project-creator-show{
  flex-direction: column;
  margin: 5px;
}

.proj-show-left-picture > img{
  max-width: 50%;
  position: relative;
  display: block;
  margin: 0;
}

.proj-show-left-picture{
  display: block; 
}

.proj-show-title{
  font-size: 38px;
  margin-block-end: 18px;
  margin-bottom: 18px;
  font-weight: 500;
  color: #282828;
  /* font-family: inherit; */
}