.proj-show-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
  grid-template-columns: 20%, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  padding-left: 6rem;
  padding-right: 6rem;
}

.top-row-description {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-nowrap {
  flex-flow: nowrap;
}

.project-name-show {
  align-items: flex-start;
  flex-direction: column;
  margin: 5px;
}

.project-creator-show {
  flex-direction: column;
  margin: 5px;
}

.proj-show-picture-deadline {
  display: flex;
  flex-direction: row;
}

.proj-show-left-picture > img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: 0;
  object-fit: contain;
}

.proj-show-left-picture {
  display: block;
  flex-basis: 72%;
  padding-right: 18px;
}

.show-cat-location {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.fa-compass {
  padding: 10px;
}
.fa-map-marker-alt {
  padding: 10px;
}
.proj-show-title {
  font-size: 38px;
  margin-block-end: 18px;
  margin-bottom: 18px;
  font-weight: 500;
  color: #282828;
}

.proj-show-right-deadline {
  padding-right: 18px;
  padding-left: 18px;
  float: left;
  position: relative;
  flex-basis: 28%;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.proj-show-right-deadline > * {
  margin-bottom: 3.2rem;
}

.proj-show-body {
  width: 50%;
  float: left;
  margin: 1rem;
}

.funding-border {
  background-color: #037362;
  height: 3px;
}
.funded-amt-text {
  color: #037362;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
}

.goal-amt-text {
  color: #656969;
  font-weight: 400;
}

.back-project-button {
  background-color: #009e74;
  color: #ffffff !important;
  width: 100%;
  font-size: 16px;
  text-align: center;
  position: relative;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  transition: all 0.25s ease-in-out !important;
}

.back-project-button:hover {
  background-color: #037362;
}
.back-project-button:focus {
  background-color: #037362;
  outline: none;
}

#pledges-total {
  font-weight: 500;
  line-height: 1.8rem;
  font-size: 1.5rem;
}

.proj-show-about-rewards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.proj-show-rewards-right {
  min-width: 300px;
}

.about-proj {
  font-weight: 400;
  font-size: 2.2rem;
  margin: 3rem 0 3rem 0;
}

.pledge-amount {
  margin: 0 20px;
  padding: 20px 0;
  color: #282828;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1rem;
}

.pledge-input {
  cursor: pointer;
  box-shadow: none;
  /* width: 100%; */
  /* position: relative; */
  height: 42px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
  padding-left: 0.4rem;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #dcdedd;
  border-top: 1px solid #dcdedd;
  border-right: none;
  border-left: 1px solid #dcdedd;
}
.pledge-input:hover {
  border-left: 0.5px solid #009e74;
}

.pledge-input:focus {
  border-left: 0.5px solid #009e74;
}
.pledge-button {
  width: 100%;
  background-color: #009e74;
  color: #ffffff !important;
  height: 2.2rem;
  padding: 0 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
}

.pledge-button:hover {
  background-color: #037362;
}

.pledge-button:focus {
  background-color: #037362;
  outline: none;
}

.input-div {
  border: 1px solid #dcdedd;
  padding-left: 2rem;
  /* padding-right: 2rem; */
  margin-top: 1rem;
  margin-right: 1rem !important;
  display: block;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
  box-sizing: border-box;
}

.input-div:hover {
  border-color: #009e74;
}

.input-div:focus {
  border-color: #009e74;
}

.currency-border {
  border-right: 1px solid #dcdedd;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
}

.dolla {
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 2.2rem;
}

#foreground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #19a781;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s, color 0.3s, font-size 0.3s;
  cursor: pointer;
  font-size: 30px;
}

#foreground:hover {
  font-size: 16px;
  opacity: 0.85;
  color: white;
}

/* #reward-pane {
  padding: 1rem;
  border: 1px solid #9b9e9e;
  margin-bottom: 20px;
  font-size: 14px;
  color: #656969;
  display: block;
  position: relative;
} */

/* #reward-pane > * {
  margin: 1rem;
} */

#reward-pane {
  background-color: #fbfbfa;
  border: 1px solid #e8e8e8;
  margin-top: 25px;
  padding: 30px;
  position: sticky;
  top: 30px;
}

#reward-pane h1 {
  margin: 0px 0px 30px 0px;
  font-size: 18px;
  font-weight: lighter;
  color: #282828;
}

#reward-pane h3 {
  margin: 0px;
  font-weight: lighter;
  font-size: 16px;
  color: #282828;
}

#reward-pane h6 {
  margin-bottom: 31px;
  margin-top: 12px;
  font-weight: lighter;
  font-size: 14px;
  color: #656969;
  line-height: 23px;
}

#reward-pane h4 {
  margin: 0px;
  font-weight: lighter;
  font-size: 10px;
  color: #656969;
}

#reward-pane h5 {
  font-weight: lighter;
  color: #282828;
  font-size: 14px;
  margin-top: 5px;
}

.deactivated {
  pointer-events: none;
  width: 100%;
  background-color: #009e74;
  color: #ffffff !important;
  height: 2.2rem;
  padding: 0 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
}

.hidden {
  display: none !important;
}
