.signup-header {
  background-color: rgba(241, 238, 234, 0.2);
  border-bottom: 1px solid #f1eeea;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3d3d66;
}

.signup-form,
.login-form-box {
  width: 338px;
  height: 455px;
  position: relative;
  display: block;
  left: 50%;
  top: 300px;
  margin-bottom: 350px;
  transform: translate(-50%, -50%);
  border: 0.5px solid #ccc;
  padding: 20px 30px 20px 30px;
}

.login-text {
  font-size: 30px;
  line-height: 3.6rem;
  margin-top: 0.6rem;
}

.signup-text {
  font-size: 30px;
  line-height: 3.6rem;
  margin-top: 0.6rem;
}

.session-submit {
  background-color: #009e74;
  color: #ffffff !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;

  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.header-button {
  box-sizing: border-box;
  background-color: #009e74;
  color: #ffffff !important;
}

.login-footer {
  background-color: rgba(241, 238, 234, 0.2);
  border-top: 1px solid #f1eeea;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #3d3d66;
  position: absolute;
  bottom: 10px;
  left: 100px;
}

.demo-login {
  background-color: #009e74;
  color: #ffffff !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.signup-submit {
  background-color: #009e74;
  color: #ffffff !important;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
}

.signup-input,
.login-input {
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: start;
  margin-bottom: 15px;
}

.signup-header {
  background-color: rgba(241, 238, 234, 0.2);
  border-bottom: 1px solid #f1eeea;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #3d3d66;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.fieldset {
  margin-bottom: 20px;
}

.fieldset-errors {
  list-style-type: disc;
  list-style-position: outside;
  background: #fd003b;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px 20px;
  line-height: 18px;
  text-decoration: none;
}
