.basics-wrapper header,
.profile-wrapper header {
  border-bottom: 1px solid #dcdedd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 212px;
  box-sizing: border-box;
  padding: 0px 25%;
}

.profile-wrapper header {
  align-items: flex-start;
}

.basics-wrapper header h1,
.profile-wrapper header h1 {
  margin-bottom: 0px;
  font-weight: lighter;
  color: #282828;
  font-size: 26px;
  letter-spacing: 1.1px;
}

.basics-wrapper header h2,
.profile-wrapper h3 {
  margin-top: 19px;
  font-weight: lighter;
  color: #656969;
  font-size: 17.6px;
  letter-spacing: 0px;
  text-align: center;
}

.basics-form,
.profile-form {
  padding-bottom: 50px;
}

.form-li {
  border-bottom: 1px solid #dcdedd;
  display: flex;
  justify-content: space-between;
  padding: 50px 12%;
}

.li-text {
  max-width: 450px;
  flex-grow: 1;
  padding-right: 70px;
}
.li-text h6 {
  margin: 0px;
  font-size: 18px;
  font-weight: lighter;
  color: #282828;
  letter-spacing: 1px;
}
.li-text p {
  margin: 0px;
  color: #656969;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  margin-top: 12px;
  letter-spacing: 0.6px;
}

.li-inputs {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 650px;
}

.li-inputs input {
  margin-bottom: 43px;
  min-width: 450px;
  max-width: 650px;
  box-sizing: border-box;
  padding: 12px;
  height: 42px;
  border: 1px solid #dcdedd;
}

.li-inputs input:focus {
  outline: none;
  border: 1px solid #009e74;
}

.li-inputs input:hover {
  border: 1px solid #009e74;
}
